<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <RollingFile name="RollingFile" fileName="/var/log/mirsaad/pole.log"
                     filePattern="/var/log/artik/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %t %logger->%M [%L] : %msg%xEx%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
                <SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
            </Policies>
        </RollingFile>
    </appenders>
    <loggers> 
        <root level="debug"> <!-- We log everything -->
            <appender-ref ref="RollingFile"/> <!-- And to a rotated file -->
        </root>
        <logger name="org.hibernate" level="info"/>
        <logger name="com.mchange" level="info"/>
        ..
    </loggers>
        
</configuration>